[Unit]
Description=Manages temporary Canvas accounts
Wants=redis.service
After=redis.service
Wants=redis_6379.service
After=redis_6379.service

[Service]
User=apache
WorkingDirectory=/var/www/html/cu-online/temp-account/current
ExecStart=/bin/bash -lc 'bundle exec rake resque:work QUEUE=temp-account-reminder,temp-account-expiration'
Restart=always
KillMode=process

[Install]
WantedBy=default.target
